*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   background: linear-gradient(45deg,blue,white);
}



.container{
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

  

.calculator{
    position: relative;
    height: auto;
    width:auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(100, 123,130);
    background-color: rgb(78, 81, 80);
    #display{
        color: chartreuse;
    }

       /*THEME DARK*/
       &.dark{
        background-color: black;
      #display{
        color: aliceblue;
      }

      #clear{
        background-color: aqua;
        color: brown;
      }
    
      .btn-number{
        background-color: rgb(15, 65, 109);
        color: black;
        font-weight: 600;
    }

    .btn-operator{
        background-color: rgb(78, 119, 12);
        color: rgb(122, 24, 160);
    }
   
    .btn-equal{
        background-color: rgb(135, 16, 24);
        color: rgb(224, 202, 140);
    }



    }

    #display{
        color: darkmagenta;
        margin:0 10px;
        height: 110px;
        width: auto;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    }

    #equal{
   height: 130px;
    }

    #clear{
        background-color: blueviolet;
        color: aqua;
    }
    .btn-number{
        background-color: aliceblue;
        color: black;
    }

    .btn-operator{
        background-color: rgb(20, 105, 179);
        color: rgb(183, 215, 88);
    }

    .btn-equal{
        background-color: blue;
        color: aqua;
    }

}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color:rgb(12, 106, 200);
    z-index: 1;
    cursor: pointer;
    
     &::before {
        content:'';
        position: absolute;
        width: 30px;
        height: 30px;
        top:50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: red;
        z-index: -1;
     }
    
}

.theme-toggler.active {
    color: rgb(109, 0, 0);
    &::before {
        background-color: blue;
    }
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin:5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
    transform: scale(1.1);
    }

 
}



